body {
  font-family: Arial - Bold MT,sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  color: #000;
  background: #fff;
}

.error.error {
  border: 1px solid #ff0000;
}
