<section class="info-block2">
  <div class="info-block2__cont content">
    <h2 class="info-block2__title">
      3 простых шага для участия
    </h2>

    <div class="info-block2__wrap">
      <div class="info-block2__sect">
        <p class="info-block2__descript">
          Компания Google второй раз за всю историю существования делает дробление акций, но впервые на столько
          масштабное. Это уникальная возможность, купить акции одной из самых надежных компаний в мире по рекордно
          низкой стоимости. Миллионы инвесторов уже готовы совершить покупку которая кардинально изменит их жизнь. Для
          того что бы Вы смогли так же воспользоваться такой возможностью необходимо выполнить 3 простых шага.
        </p>
      </div>

      <div class="info-block2__desc">
        <ul class="info-block2__list">
          <li class="info-block2__item">
            Оставить заявку в форме ниже
          </li>

          <li class="info-block2__item">
            Получить полную и бесплатную консультацию специалиста
          </li>

          <li class="info-block2__item">
            Получить доступ к международной платформе для покупки акций.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
