<section class="slider2">
  <div class="slider2__wrap content">
    <h2 class="heading preview__heading slider2__sect-title">
      title
    </h2>

    <p class="slider2__sub-title">
      text text
    </p>

    <div class="slider2__news">
      <div class="js-slider2 owl-carousel owl-theme">
        <div class="item">
          <section class="news-item">
            <a class="news-item__img-wrap" href="./news-page.html">
              <img src="./img/stock-bg.jpg" alt="news item" class="news-item__pic">
            </a>

            <div class="news-item__desc">
              <time class="news-item__date" datetime="2001-05-15 19:00">
                00:01, 17 декабря 2021
              </time>

              <h3 class="news-item__title heading">
                <a href="./news-page.html">«Трудные времена проверяют тебя на прочность»</a>
              </h3>

              <p class="news-item__text">
                Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
              </p>

              <button class="btn financial-management__btn" type="button" data-open-modal="modal1">
                Читать дальше
              </button>
            </div>
          </section>
        </div>

        <div class="item">
          <section class="news-item">
            <a class="news-item__img-wrap" href="./news-page.html">
              <img src="./img/stock-bg.jpg" alt="news item" class="news-item__pic">
            </a>

            <div class="news-item__desc">
              <time class="news-item__date" datetime="2001-05-15 19:00">
                00:01, 17 декабря 2021
              </time>

              <h3 class="news-item__title heading">
                <a href="./news-page.html">«Трудные времена проверяют тебя на прочность»</a>
              </h3>

              <p class="news-item__text">
                Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
              </p>

              <a class="btn financial-management__btn" href="#">
                Читать дальше
              </a>
            </div>
          </section>
        </div>

        <div class="item">
          <section class="news-item">
            <a class="news-item__img-wrap" href="./news-page.html">
              <img src="./img/stock-bg.jpg" alt="news item" class="news-item__pic">
            </a>

            <div class="news-item__desc">
              <time class="news-item__date" datetime="2001-05-15 19:00">
                00:01, 17 декабря 2021
              </time>

              <h3 class="news-item__title heading">
                <a href="./news-page.html">«Трудные времена проверяют тебя на прочность»</a>
              </h3>

              <p class="news-item__text">
                Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
              </p>

              <a class="btn financial-management__btn" href="#">
                Читать дальше
              </a>
            </div>
          </section>
        </div>

        <div class="item">
          <section class="news-item">
            <a class="news-item__img-wrap" href="./news-page.html">
              <img src="./img/stock-bg.jpg" alt="news item" class="news-item__pic">
            </a>

            <div class="news-item__desc">
              <time class="news-item__date" datetime="2001-05-15 19:00">
                00:01, 17 декабря 2021
              </time>

              <h3 class="news-item__title heading">
                <a href="./news-page.html">«Трудные времена проверяют тебя на прочность»</a>
              </h3>

              <p class="news-item__text">
                Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
              </p>

              <a class="btn financial-management__btn" href="#">
                Читать дальше
              </a>
            </div>
          </section>
        </div>
      </div>

      <div class="slider2__nav"></div>
    </div>
  </div>
</section>
