<section class="slider2">
  <div class="slider2__news">
    <div class="js-slider2 owl-carousel owl-theme">
      <div class="item">
        <section class="news-item">
          <a class="news-item__img-wrap" href="https://quote.rbc.ru/news/article/61fa916a9a794706bd19542e">
            <img src="./img/new1.jpg" alt="news item" class="news-item__pic">
          </a>

          <div class="news-item__desc news-item__desc--padd">
            <div class="news-item__date">
              02 февраля 2022
            </div>

            <h3 class="news-item__title heading">
              <a href="https://quote.rbc.ru/news/article/61fa916a9a794706bd19542e">
                Акции владельца Google рухнут в 20 раз. Но инвесторы ничего не потеряют
              </a>
            </h3>

            <p class="news-item__text">
              РБК Инвестиции :: Акции владельца Google рухнут в 20 раз. Но инвесторы ничего не потеряют :: Новости
            </p>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="news-item">
          <a class="news-item__img-wrap"
            href="https://bcs-express.ru/novosti-i-analitika/google-split-aktsii-20-k-1-chto-eto-oznachaet-dlia-bumag">
            <img src="./img/new2.jpg" alt="news item" class="news-item__pic">
          </a>

          <div class="news-item__desc news-item__desc--padd">
            <div class="news-item__date">
              02 февраля 2022
            </div>

            <h3 class="news-item__title heading">
              <a
                href="https://bcs-express.ru/novosti-i-analitika/google-split-aktsii-20-k-1-chto-eto-oznachaet-dlia-bumag">
                Google: сплит акций 20 к 1. Что это означает для бумаг
              </a>
            </h3>

            <p class="news-item__text">
              Одна из крупнейших компаний в мире сообщила о дроблении своих акций. Что это и к чему может привести
            </p>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="news-item">
          <a class="news-item__img-wrap"
            href="https://www.cnbc.com/2022/02/01/google-parent-alphabet-announces-20-for-1-stock-split.html">
            <img src="./img/new3.jpg" alt="news item" class="news-item__pic">
          </a>

          <div class="news-item__desc news-item__desc--padd">
            <div class="news-item__date">
              02 февраля 2022
            </div>

            <h3 class="news-item__title heading">
              <a href="https://www.cnbc.com/2022/02/01/google-parent-alphabet-announces-20-for-1-stock-split.html">
                Google parent Alphabet announces 20-for-1 stock split
              </a>
            </h3>

            <p class="news-item__text">
              It wouldn't be the first time Larry Page and Sergey Brin have make their stock more affordable. It
              happened in 2012 with the launch of a third class of shares.
            </p>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="news-item">
          <a class="news-item__img-wrap"
            href="https://quote.rbc.ru/news/article/61fa24659a7947cdd8b6eece">
            <img src="./img/new4.jpg" alt="news item" class="news-item__pic">
          </a>

          <div class="news-item__desc news-item__desc--padd">
            <div class="news-item__date">
              02 февраля 2022
            </div>

            <h3 class="news-item__title heading">
              <a href="https://quote.rbc.ru/news/article/61fa24659a7947cdd8b6eece">
                Акции Alphabet взлетели на 9% после оглашения плана дробления бумаг
              </a>
            </h3>

            <p class="news-item__text">
              РБК Инвестиции :: Акции Alphabet взлетели на 9% после оглашения плана дробления бумаг :: Новости
            </p>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="news-item">
          <a class="news-item__img-wrap"
            href="https://invest-journal.ru/kogda-budet-split-akcij-google">
            <img src="./img/new5.jpg" alt="news item" class="news-item__pic">
          </a>

          <div class="news-item__desc news-item__desc--padd">
            <div class="news-item__date">
              02 февраля 2022
            </div>

            <h3 class="news-item__title heading">
              <a href="https://invest-journal.ru/kogda-budet-split-akcij-google">
                Когда будет сплит (разделение, дробление) акций Google?
              </a>
            </h3>

            <p class="news-item__text">
              Когда будет сплит акций Google в 2022 году, что это такое и для чего он нужен. Подробнее читайте в данном материале.
            </p>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="news-item">
          <a class="news-item__img-wrap"
            href="https://daytradergt.com/materinskaya-kompaniya-google-provedet-split-akcij-investory-poluchat-20-bumag-za-odnu/">
            <img src="./img/new6.jpg" alt="news item" class="news-item__pic">
          </a>

          <div class="news-item__desc news-item__desc--padd">
            <div class="news-item__date">
              02 февраля 2022
            </div>

            <h3 class="news-item__title heading">
              <a href="https://daytradergt.com/materinskaya-kompaniya-google-provedet-split-akcij-investory-poluchat-20-bumag-za-odnu/">
                Материнская компания Google проведет сплит акций: инвесторы получат 20 бумаг за одну
              </a>
            </h3>

            <p class="news-item__text">
              1 февраля Alphabet отчиталась за четвертый квартал 2021 года, а еще объявила о сплите акций. На постмаркете бумаги подросли на 9%.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="slider2__nav"></div>
    <div class="slider2__dot"></div>
  </div>
</section>
