.btn {
  width: 248px;
  height: 67px;
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #171516;

  @include hover {
    background-color: #e5e5e5;
  }
}

