.btn {
  width: 248px;
  height: 67px;
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #171516;

  @include hover {
    background-color: #e5e5e5;
  }
}

.btn-fix {
  @include active;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #3f86fc;
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;

  @include hover {
    background-color: #78b649;
    color: #fff;
  }

  @include media-md {
    width: 64px;
    height: 64px;
    font-size: 10px;
  }
}
