.info-block2 {
  padding-bottom: 60px;
  padding-top: 60px;
  color: #000;
  line-height: 1.4;
}

.info-block2__item:not(:last-child) {
  margin-bottom: 32px;
}

.info-block2__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.info-block2__descript {
  font-size: 20px;
  margin-bottom: 32px;
  line-height: 1.5;

  @include media-md {
    font-size: 18px;
  }
}

.info-block2__item {
  position: relative;
  padding-left: 24px;

  &:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #45b067;
    border-radius: 50%;
  }
}

.info-block2__list {
  position: relative;
  padding: 0;
  font-size: 26px;
  font-weight: 700;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 14px;
    bottom: 14px;
    width: 2px;
    background-image: linear-gradient(
      135deg,
      #45b067 20%,
      #fcfcfc 0,
      #fcfcfc 50%,
      #45b067 0,
      #45b067 70%,
      #fcfcfc 0,
      #fcfcfc
    );
    background-size: 5px 5px;
  }

  @include media-md {
    font-size: 20px;
  }
}
