.main {
  color: #000;
  // height: 100vh;

  @include media-exsm {
  }
}

.main__wrap {
  display: flex;
  align-items: center;
  padding-top: 70px;
}

.main__left {
  // padding-top: 100px;
  width: 50%;
}

.main__right {
  // padding-top: 80px;
  width: 50%;
}

.main__heading {
  // display: flex;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.main__red {
  color: #e8ec0c;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(75, 75, 75);
}

.main__img {
  width: 100%;
}

.main__text-green {
  display: flex;
  padding: 30px;
  // font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.main__green {
  color: #39ab5c;
  font-weight: bold;
  padding-left: 4px;
}

.main__arrow {
  margin-top: -14px;
}
