.main {
  color: #000;
}

.main__wrap {
  display: flex;
  align-items: center;
  padding-top: 60px;

  @include media-lg {
    flex-direction: column;
  }
}

.main__left {
  width: 50%;

  @include media-lg {
    width: 100%;
  }
}

.main__right {
  width: 50%;

  @include media-lg {
    width: 100%;
  }
}

.main__heading {
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 40px;

  @include media-lg {
    font-size: 24px;
  }

  @include media-exsm {
    font-size: 18px;
  }
}

.main__red {
  position: relative;
  color: #39ab5c;
  font-weight: bold;

  &:hover .main__color-title {
    display: block;
  }
}

.main__color-title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 280px;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 20px;
  background-color: #fff;
  font-size: 12px;
  display: none;
  color: #000;
}

.main__img {
  width: 100%;
}

.main__text-green {
  display: flex;
  padding: 30px;
  font-size: 20px;
  text-transform: uppercase;

  @include media-exsm {
    padding-left: 0;
  }

  @include media-exsm {
    display: block;
  }
}

.main__green {
  color: #39ab5c;
  font-weight: bold;
  padding-left: 4px;
}

.main__arrow {
  margin-top: -14px;

  @include media-exsm {
    display: none;
  }
}
