.news-item {
  background-color: #fff;
  flex-grow: 1;
}

.news-item__img-wrap {
  @include active;
  display: block;
}

.news-item__pic {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

.news-item__date {
  display: none;
  font-size: 12px;
  color: #777777;
  margin-bottom: 16px;
}

.news-item__title {
  @include active;
  font-size: 16px;
  margin-bottom: 8px;
  min-height: 60px;

  @include hover {
    color: #006ea9;
  }
}

.news-item__text {
  font-size: 14px;
  color: #515956;
  margin: 0;
  min-height: 90px;
}

.news-item__btn.news-item__btn {
  margin-top: auto;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  height: 44px;
}

.news-item__desc {
  display: flex;
  flex-direction: column;
}

.news-item__desc--padd {
  padding: 20px;
}

.news-item__timer {
  display: flex;
  align-items: center;
  color: #a3abca;
  font-size: 12px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.news-item__img {
  font-size: 0;
  margin-right: 8px;
}
