.stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/stock-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 100vh;
  padding-bottom: 100px;
  padding-top: 60px;

  @include media-max {
    height: 100%;
  }

  @include media-md {
    padding: 0;
  }
}

.stock__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-md {
    padding-top: 108px;
  }
}

.stock__heading {
  color: #ffffff;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 50px 50px 50px;

  @include media-max {
    padding-top: 50px;
    text-align: center;
  }

  @include media-lg {
    font-size: 36px;
    width: 100%;
  }

  @include media-md {
    padding: 0 0 42px 0;
    width: 100%;
    font-size: 32px;
  }
}

.stock__google-wrap {
  white-space: nowrap;
  text-align: center;
}

.stock__google {
  letter-spacing: -20px;

  @include media-xl {
    letter-spacing: -15px;
    padding-left: 10px;
  }
}

.stock__blue {
  color: #4285f4;

  @include media-xl {
    padding: 0;
  }
}

.stock__red {
  color: #ea4335;
}

.stock__yellow {
  color: #fbbc05;
}

.stock__green {
  color: #34a853;
}

.stock__blue2 {
  color: #4285f4;
}

.stock__text {
  font-size: 36px;
  padding-bottom: 112px;
  max-width: 900px;
  text-align: center;

  @include media-xl {
    font-size: 24px;
  }

  @include media-md {
    padding-bottom: 16px;
  }
}

.stock__form {
  display: flex;
  align-items: flex-end;

  @include media-max {
    padding-bottom: 133px;
  }

  @include media-lg {
    width: 100%;
    flex-direction: column;
  }
}

.stock__form-wrap {
  display: flex;
  flex-direction: column;

  @include media-lg {
    width: 100%;
  }
}

.stock__form-text {
  padding-bottom: 20px;
  font-size: 14px;

  @include media-max {
    padding-top: 24px;
  }
}

.stock__form-input {
  width: 432px;
  height: 46px;
  background-color: #ffffff32;
  border: 1px solid #ffffff6c;
  margin-right: 12px;
  padding-left: 20px;

  @include media-lg {
    width: 100%;
  }

  @include hover {
    opacity: 0.7;
  }
}

.stock__form-wrapper-btn {
  width: 100%;

  @include media-lg {
    width: 100%;
    padding-top: 24px;
  }
}

.stock__form-btn {
  background-color: #57af55;
  width: 143px;
  height: 46px;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;

  @include media-lg {
    width: 100%;
  }

  @include hover {
    opacity: 0.7;
    color: #fff;
  }
}
